html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;  
}
.some-class{
    height: 100vh;
    background-color: red;
}