@import "./../../scss/abstracts/mixins";

.card{
    width: 35%;
    @include respond(phone){
        width: 100%;
        margin-bottom: 5rem;
    }
    display: flex;
    flex-direction: column;
    box-shadow: dimgrey 0 0 1rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0 0 1rem dimgrey;
    -moz-box-shadow: 0 0 1rem dimgrey;
    &_image{
        background: center no-repeat;
        background-size: cover;
        height: 30vh;
        @include respond(phone){
            height: 50vh;
        }
        width: 100%;
    }
    &_heading{
        text-align: center;
        font-family: 'Lato';
        text-transform: uppercase;
        margin: 2rem  auto;
        font-size: 1.5rem;
        padding: 0 1rem;
        font-weight: bold;
        @include respond(phone){
            font-size: 1.7rem;
        }
    }
    &_text{
        line-height: 3rem;
        font-family: 'Lato';
        @include respond(phone){
            line-height: 2.2rem;
            font-size: 1.35rem;
        }
        font-size: 1.25rem;
        margin: 0 2rem 1rem 2rem;
        padding-bottom: 2rem;
        border-bottom: grey .1rem solid;
    }
    &_list{
        &_holder{
            list-style: none;
            padding: 0;
            &_item{
                text-align: center;
                font-size: 1.25rem;
                padding: .5rem 0;
                font-family: 'Lato';
            }
        }
    }
}