.container{
    display: flex; 
    height: auto;
    margin: 8rem 4rem;
    justify-content: left;
    flex-direction: row;
    &_circleContainer{
        flex: 1;
        &_text{
            text-align: center;
            margin: 2rem 7.5rem 0 0;
            font-size: 2rem;
            font-weight: lighter;
            color: #127aaf;
            text-transform: uppercase;  
        }
    }
    &_lineContainer{
        flex: 1.5;
        margin: auto;
        &_line{
            flex: 1;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            &_text{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &_view{
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}